---
- name: Setup Heihachi
  hosts: localhost
  vars:
    python_version: "3.12"
    user: "{{ ansible_user_id }}"
  vars_prompt:
    - name: discord_token
      prompt: "Enter your Discord token"
      private: false
  tasks:
    - name: Install required packages
      dnf:
        name:
          - "python{{ python_version }}"
          - "python{{ python_version }}-pip"
        state: present

    - name: Clone Heihachi repository
      git:
        repo: https://github.com/TLNBS2405/heihachi.git
        dest: ~/repos/heihachi

    - name: Install Heihachi
      pip:
        name: ~/repos/heihachi
        executable: "pip{{ python_version }}"

    - name: Create config.json file
      copy:
        dest: "~/repos/heihachi/config.json"
        content: |
          {
            "DISCORD_TOKEN": "{{ discord_token }}"
          }

    - name: Create service file
      template:
        src: ~/repos/hetzner-setup/templates/heihachi.service.j2
        dest: /etc/systemd/system/heihachi.service
    
    - name: Reload systemd
      systemd:
        daemon_reload: yes

    - name: Enable and start service
      systemd:
        name: heihachi.service
        enabled: yes
        state: started
